<div class="container">
    <h1>Write a New Blog Post</h1>
    <form class="col s12" method="post" action="/newpost">
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="title" type="text" class="validate" name="post_title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="content" type="text" class="validate" name="content">
                <label for="content">Content:</label>
            </div>
        </div>
        <div class="container">
            <button class="waves-effect waves-light btn" type="submit">Submit</button>
        </div>
    </form>
</div>
